{% extends "app1/padre.html" %}
{% load static %}


{% block tituloCambia %}
  Inicio
{% endblock %}


{% block bannerCambia %} 
  <h4>EcoCode</h4> 
  <h5>Proyecto informático para la sustentabilidad</h5>

{% endblock %}



{% block contenidoQueCambia %}

<section class="staff" > 
  <img src="../../static/app1/img/wave-staff1.svg" alt="division" class="wave">
  <div class="staff-body" >
     

    <h4>Sabías que?</h4>


    

    <div class="content50">
      <div class="row">
          <div class="col">
            <img src="../../static/app1/img/shape1.png" alt="division" class="wave">
          </div>
          <div class="col">
            <p>¿Por qué lo usamos?
              Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. </p>
          </div>
      </div>
    </div>

    <div class="content50">
      <div class="row">
          <div class="col">
            <img src="../../static/app1/img/shape2.png" alt="division" class="wave">
          </div>
          <div class="col">
            <p>¿Dónde puedo conseguirlo?
              Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a utilizar un pasaje de Lorem Ipsum, necesitás estar seguro de que no hay nada avergonzante escondido en el medio del texto. </p>
          </div>
      </div>
    </div>
      

    
  </div>  
</section> 

        


{% endblock %}