<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%static 'app1/css/estilo1.css' %}" rel="stylesheet" />

    <title>Logout</title>
</head>
<body>

    <form class="formularioLogin" action="" method="POST">
      <a href="{% url 'Inicio' %}"><img class="imgLogin" src="../../static/app1/img/logo.png" alt=""></a>

      <h2>Sesión cerrada correctamente.</h1>

      <a href="{% url 'Inicio' %}"><button class="enviar" type="button">Inicio</button></a>
      <a href="{% url 'Login' %}"><button class="cancelar" type="button">Iniciar nueva sesión</button></a>

    </form>  
    
</body>
</html>