{% extends "app1/padre.html" %}

{% load static %}

{% block tituloCambia %}
  Nosotros 
{% endblock %}

{% block bannerCambia %}

<h4>Nosotros</h4>
<h5>Conoce el staff del proyecto</h5>


{% endblock %}


{% block contenidoQueCambia %}

<section class="staff" > 
    <img src="../../static/app1/img/wave-staff1.svg" alt="division" class="wave">
    <div class="staff-body" >

        <div class="staff-content">
            <img class="staff-img" src="../../static/app1/img/nano.png" alt="staff">
            <h2 class="staff-title">
               Nicolas Rey
               
                
            </h2>
            <p>Estudiante de Informática en la UNLP <br>
                Diseñador Web Freelance</p>
        </div>

        <div class="staff-content">
            <img class="staff-img" src="../../static/app1/img/nico.png" alt="staff">
            <h2 class="staff-title">
               Nicolás Contartese    
               
            </h2>
            <p>Estudiante de Ingenieria Electrónica UTN <br>
                Ingeniero de postventa Data Center</p>    
            
        </div>
      
    </div>  
</section> 

     


{% endblock %}