<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%static 'app1/css/estilo1.css' %}" rel="stylesheet" />

    <title>Registro</title>
</head>
<body>
     
        <form class="formularioLogin" action="" method="POST">

            <a href="{% url 'Inicio' %}"><img class="imgLogin" src="../../static/app1/img/logo.png" alt=""></a>
            <h3>Registrate</h3>
    
            {%  csrf_token %}
    
            {{form.as_p}}
    
            <button class="enviar" type="submit">Registrate!</button>
            <a href="{% url 'Inicio' %}"><button class="cancelar" type="button">Cancelar</button></a>


    
    
    
        </form>

</body>
</html>